/* .navbar {
  font-family: Andale Mono, monospace;
} */
.navbar-expand-md {
  background: rgba(0, 0, 0, 0.5);
  position: fixed !important;
  width: 100%;
  z-index: 99;

}
.navbar-brand {
  font-weight: bolder;
  color: white !important;
  /* background: rgba(144, 12, 63, 1); */
}

.nav-link .top-navbar{
  color: white !important;
}

.top-navbar .nav-link:hover{
  font-weight: bolder;
  /* background: #F08D33; */
  color: #F08D33 !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.cilckable{
  font-size: 15px;
}