.pur{
    padding-top: 10%;
    font-style: italic;
    font-size: 60px;
    font-family: 'Rochester', cursive;
}
.heart{
    font-size: 45px;
}
.buttonHome{
    /* font-family: 'Coming Soon', cursive !important; */
    font-weight: bold !important;
    border-color: white!important;
    /* border-color: #D75404 !important; */
    
    background-color: rgb(200,94,38) !important;
    margin-bottom: 50px;
}

.buttonShop{
    /* font-family: 'Coming Soon', cursive !important; */
    font-weight: bold !important;
    border-color: white !important;
    background-color: rgb(231,184,80) !important;
    /* border-color: #F08D33!important; */
    margin-bottom: 50px;
}