.locate{
    padding-top: 10%;
}

.info{
    font-size: 16px ;
}

.changePass{
    width: 340px !important;
    font-size: 14px !important;
    font-weight: bold;
    float: center;
    
}
.changePass input{
    width: 160px; 
}
.changePass label{
    width: 160px; 
    float: left;
}

p label{
    margin-left: 1%;
    left: 0px;
    float: left; 
    width: 3em; 
    margin-right: 1em; 
    font-weight: bold;
}
.boxInput {
    padding: 2px 4px ;
    border: 1px solid white ;
    border-radius: 4px;
    background-color: #f8f8f8 ;
    font-size: 15px;
    resize: none;
    width: 73%;
    height: 30px !important;
    float: right; 
}
.confirm{
    padding: 2px 1px !important;
}
p textarea {
    width: 100%;
    height: 150px;
    padding: 10px 12px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.form-control{
    height: 27px !important;
}

editable input, editable Input{
    background-color:white !important;
    border: 1px solid #ccc !important;
}

editable textarea{
    background-color:white;
    border: 1px solid #ccc;
}

/* Btton */
.buttonEdit {
    position:relative !important;
    right:10% !important;
    display: inline-block!important;
    border-radius: 4px!important;
    border-color: #D75404 !important;
    background-color: #F08D33!important;
    border: none!important;
    color: #FFFFFF!important;
    text-align: center!important;
    font-size: 20px !important;
    padding: 8px !important;
    width: 130px !important;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 27px !important;
  }
  .buttonSave {
    position:relative !important;
    right:27% !important;
    display: inline-block!important;
    border-radius: 4px!important;
    border-color: #D75404 !important;
    background-color: #F08D33!important;
    border: none!important;
    color: #FFFFFF!important;
    text-align: center!important;
    font-size: 18px !important;
    padding: 8px !important;
    width: 100px !important;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 27px !important;
  }
  
  .buttonEdit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonEdit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonEdit:hover span {
    padding-right: 20px;
  }
  
  .buttonEdit:hover span:after {
    opacity: 1;
    right: 0;
  }

  .userComponent{
      margin-bottom: 5%;
  }

  .historyScroll{
    margin-top: 5%;
    margin-top: 5%;
    overflow-y:scroll;
    height:400px;
    
  }